.skills {
    width: 100%;
    height: 65em;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsLight {
    background-color: white;
    color: black;
}

.titleSkills {
    font-size: 50px;
}

.columnsSkills {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.column {
    width: 90%;
}

.column1st{
    border-right: 1px solid white;
}

.column1stWhite {
    border-right: 1px solid black;
}

.listColumn {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconSkills {
    color: white;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.iconLight {
    color: black;
}

.textAndIcon {
    text-align: center;
    margin-bottom: 35px;
}

.textSkills {
    font-size: 30px;
}

.iconJS {
    margin-left: 43px;
}

.iconHTML {
    margin-left: 18px;
}

.iconCSS {
    margin-left: 5px;
}

.iconReact {
    margin-left: 15px;
}

.iconHooks {
    margin-left: 18px;
}

.iconFirebase {
    margin-left: 33px;
}

.iconWP {
    margin-left: 50px;
}

.iconWoo {
    margin-left: 85px;
}

.iconGoogle {
    margin-left: 55px;
}

.iconSEO {
    margin-left: 5px;
}

.iconOxygen {
    margin-left: 30px;
}
