.contact {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 65em;
    margin-top: -45px;
}

.titleContact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    font-size: 50px;
}