.contact {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  height: 65em;
  margin-top: -45px;
}

.contactLight {
  background-color: white;
  color: black;
  font-weight: 700;
}

.titleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: 50px;
}

.containerContactInfo {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contactInd {
  margin-bottom: 60px;
  text-align: center;
}

/*************Mobile*************/

@media screen and (max-width: 750px) {
  .contact {
    height: 90em;
  }

  .containerContactInfo {
    flex-direction: column;
    margin-top: 0px;
  }

  .containerInfoPer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }

  .contactInd {
      text-align: center;
  }

  .contactEmail {
      margin-left: 20px;
  }
}
