.homePage {
  position: relative;
}

.bgImg {
  width: 100%;
  height: 65em;
  object-fit: cover;
}

.bgWhite {
  width: 100%;
  height: 65em;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 1%;
  animation: headerAni 3s ease;
}

@keyframes headerAni {
  from {
    top: -100px;
  }
  to {
    top: 10px;
  }
}

.titleHP {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  overflow: hidden;
  border-right: 0.15em solid #932426; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #932426;
  }
}

.titleHPLight {
  color: black;
}

.arrowHP {
  position: absolute;
  bottom: 5%;
  left: 49%;
}

.arrow {
  color: white;
}

.arrowLight {
  color: black;
}

.list {
  display: flex;
  flex-direction: row;
}

.list_item {
  margin-left: 40px;
  margin-top: 40px;
}

.list_item a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.list_itemLight a {
  color: black;
  font-weight: 800;
}

.logoImg {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
}

.darkAndLan {
  position: absolute;
  right: 2%;
}

.nav_ani {
  position: absolute;
  width: 0%;
  top: 80px;
  right: 0px;
  height: 40em;
  padding-left: 0px;
  padding-top: 15px;
  overflow: hidden;
  background-color: #932426;
  list-style-type: none;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

#checkbox:checked ~ .nav_ani {
  transform: translateX(0);
  width: 100%;
}

#checkbox {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
}

.menu_mobile {
  margin-top: 50px;
  margin-left: 90px;
}


.line1,
.line2,
.line3 {
  display: none;
  width: 18px;
  height: 2px;
  position: relative;
  background-color: white;
  transition: transform 0.3s ease;
  transition: all 0.2s linear;
}

.line1 {
  margin-bottom: 3px;
  transform-origin: 10% 0%;
}

.line2 {
  margin-bottom: 3px;
}

.line3 {
  transform-origin: 10% 100%;
}


#checkbox:checked ~ label .line1 {
  transform: rotate(45deg);
}

#checkbox:checked ~ label .line2 {
  opacity: 0;
}

#checkbox:checked ~ label .line3 {
  transform: rotate(-45deg);
}

/*************Mobile*************/

@media screen and (max-width: 750px) {
  .line1,
  .line2,
  .line3 {
    display: block;
  }

  .listNavigation {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .menuBar {
    display: none;
  }

  .darkAndLan {
    display: none;
  }

  .darkAndLanMobile {
    right: 2%;
  }


  .bgImg {
    width: 100%;
    height: 50em;
    object-fit: cover;
  }

  .bgWhite {
    width: 100%;
    height: 50em;
    object-fit: cover;
  }

  .titleHP {
    font-size: 30px;
    overflow: hidden;
    border-right: none; /* The typwriter cursor */
    white-space: normal; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: none;
    width: 90%;
    margin-left: 20px;
  }

  .header {
    animation: none;
  }

}
