.homePage {
  position: relative;
}

.bgImg {
  width: 100%;
  height: 65em;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 1%;
  animation: headerAni 3s ease;
}

@keyframes headerAni {
  from {top: -100px;}
  to {top: 10px;}
}

.titleHP {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
}

.arrowHP {
  position: absolute;
  bottom: 5%;
  left: 49%;
}

.arrow {
  color: white;
}

.list {
  display: flex;
  flex-direction: row;

}

.list_item {
    margin-left: 40px;
    margin-top: 40px;
}

.list_item a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
  font-family:  'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.logoImg {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
}

.darkAndLan {
  position: absolute;
  right: 2%;
}
