.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.footer p {
    margin-left: 50px;
    color: white;
}

.socialMedia a {
    text-decoration: none;
    color: white;
    width: 40px;
    margin-right: 50px;
   
}

.socialMedia a i {
    padding-top: 6px;
}

/*************Mobile*************/

@media screen and (max-width: 750px) {

    .socialMedia a {
        text-decoration: none;
        color: white;
        width: 20px;
        margin-right: 20px;
       
    }

    .footer p {
        margin-left: 10px;
        color: white;
    }



}